main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  color: #056d68;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  font-size: 26px;
  margin-top: 0;
}

main img {
  width: 50%;
  height: 33%;
  margin-right: 30px;
}

.description {
  font-size: 18px;
  opacity: 69%;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 12px;
}

/* Characteristics section */

.characteristicsSection {
  padding-bottom: 16px;
  border-bottom: 1px solid #cccccc;
}

.characteristicsList {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
  margin: 0;
  opacity: 90%;
}

.characteristicsContent {
  opacity: 69%;
}

.hideShowDetailsButton {
  color: #056d68;
  background: none;
  font-size: 15px;
  margin-top: 8px;
  padding: 0;
  border: none;
}

.hideShowDetailsButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.extraDetail {
  display: none;
}

/* Adopt me and enquiries section */
.adoptAndEnquiries {
  display: flex;
  justify-content: space-between;
}

/* Adopt button */
.adoptButton {
  font-size: 20px;
  font-weight: bold;
  width: 40%;
  height: 100%;
  background-color: #ffe66d;
  border: none;
  border-radius: 7px;
  margin-top: 6px;
  padding: 5px 0 5px 0;
}

.adoptButton:hover {
  cursor: pointer;
  background-color: #ffde3b;
}

/* Enquiries List */
.enquiryDetailsList {
  margin: 0;
  text-align: right;
  padding-left: 10px;
}

.enquiryDetailsList header h2 {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.enquiryDetailsList li {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
  margin: 0;
}

.enquiryDetailsList li span {
  display: inline-block;
  font-weight: 300;
}

.dog-image {
  opacity: 0;
  width: 100%;
  height: auto;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  object-fit: cover;
  transition: all 0.5s ease-in;
  transition: 1s;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
  display: grid;
  padding: 0%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  width: 100%
}

.slider-left {
  position: relative;
  grid-column: 1;
  grid-row: 2;
  background-color: cccc;
  top: 50%;
  left: 10%;
  height: 15%;
  width: 20%;
  z-index: 100;
  font-family: boxicons;
  font-size: 100%;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.slider-right {
  grid-column: 3;
  left: 65%;
}

.btn:active {
  transition: scale 0.6s ease;
  transform: scale(1.1);
}

.btn:hover {
  transition: background-color 0.6s ease;
  background-color: #ffe66d;
}

.btn:not(:hover) {
  transition: scale 0.6s ease;
}

.selected {
  scale: 1.1;
  background-color: #ffe66d;
}

.selector-buttons {
  position: relative;
  grid-column: 2;
  grid-row: 4;
  background: cccccc;
  border: none;
  bottom: 10%;
  left: 15%;
  height: 7%;
  width: 10%;
  z-index: 100;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.selector-buttons-2 {
  left: 35%;
}

.selector-buttons-3 {
  left: 55%;
}

.selector-buttons-4 {
  left: 75%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@media all and (max-width: 768px) {
  main {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }

  main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
  }

  .adoptAndEnquiries {
    display: block;
  }

  .adoptButton {
    width: 100%;
  }

  .enquiryDetailsList {
    text-align: left;
    padding: 18px 0 18px 0;
  }
}

/* Make sure to align max-width with nav bar  */

@media all and (max-width: 500px) {
  main img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}