<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdoptADog</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/adoptPage.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <script type="text/javascript" src="/js/navbar.js"></script>
  <nav class="navbar" id="navbar">
    <script>loadNavbar();</script>
  </nav>
  <script type="text/javascript" src="/js/adoptPage.js"></script>

  <main class="mainBody">

    <form action="" class="adoptionPage">

      <section class="rowCategories">

        <section class="columnCategories">
          <label for="chooseSize">Size</label><br />
          <select name="size" class="sizeDropdown">
            <option value="" selected="selected">Select size</option>
          </select>
        </section>

        <section class="columnCategories">
          <label for="chooseBreed">Breed</label><br />
          <select name="breed" class="breedDropdown" id="breedDropdown">
            <option value="" selected="selected">Select breed</option>
          </select>
        </section>
      </section>

      <section class="rowCards">

        <section class="columnCards">
          <section class="card">
            <img src="/images/Jimbo.jpg" alt="Jimbo" style="width:100%">
            <section class="dogInfo">
              <h3 for="dogName">Jimbo</h3>
              <p>Labrador, <br> 12 years old</p>
              <button type="button" class="moreAboutDog" onclick="redirectToAdopt()">→ Find out more about me</button>
            </section>
          </section>
        </section>


        <section class="columnCards">
          <section class="card">
            <img src="/images/Gaby.jpg" alt="Gaby" style="width:100%">
            <section class="dogInfo">
              <h3 for="dogName">Gaby</h3>
              <p>Labrador, <br> 12 years old</p>
              <button type="button" class="moreAboutDog" onclick="redirectToAdopt()">→ Find out more about me</button>
            </section>
          </section>
        </section>

        <section class="columnCards">
          <section class="card">
            <img src="/images/Max.jpg" alt="Max" style="width:100%">
            <section class="dogInfo">
              <h3 for="dogName">Max</h3>
              <p>Labrador, <br> 12 years old</p>
              <button type="button" class="moreAboutDog" onclick="redirectToAdopt()">→ Find out more about me</button>
            </section>
          </section>
        </section>

        <section class="columnCards">
          <section class="card">
            <img src="/images/Gaby.jpg" alt="Gaby" style="width:100%">
            <section class="dogInfo">
              <h3 for="dogName">Gaby</h3>
              <p>Labrador, <br> 12 years old</p>
              <button type="button" class="moreAboutDog" onclick="redirectToAdopt()">→ Find out more about me</button>
            </section>
          </section>
        </section>

        <section class="columnCards">
          <section class="card">
            <img src="/images/Max.jpg" alt="Max" style="width:100%">
            <section class="dogInfo">
              <h3 for="dogName">Max</h3>
              <p>Labrador, <br> 12 years old</p>
              <button type="button" class="moreAboutDog" onclick="redirectToAdopt()">→ Find out more about me</button>
            </section>
          </section>
        </section>

      </section>
      </section>

    </form>
  </main>
</body>

</html>