Body{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

img{
    width: 80%;
    flex: auto;
    margin-left: 10%;    
}

.backgroungImg {
    display: none;
}

article{
    margin-left: 15%;
    width: 40%;
    margin-top: -53%;
    color: white;
}

h1{
    color: #FFE66D;
    font-size: 450%;
    flex: auto;
}

h2{
    margin-top: -6%;
    font-size: 250%;
}

p{
    margin-top: -3%;
    font-size: x-large;
}

button{
    font-size: x-large;
    font-weight: bold;
    width: 55%;
    padding: 1%;
    background-color: #FFE66D;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #e4c00f;
}

@media all and (max-width: 1200px) {
    img{
        width: 100%;
        flex: auto;
        margin-left: 0%; 
    }

    article{
        margin-left: 10%;
        width: 40%;
        margin-top: -70%;
        color: white;
    }

    button{
        font-size: large;
        width: 70%;
        border-radius: 10px;
    }
}

@media all and (max-width: 992px) {
    
    h1{
        font-size: 350%;
    }
    
    h2{
        margin-top: -6%;
        font-size: 200%;
    }
    
    p{
        margin-top: -3%;
        font-size: large;
    }
    
    button{
        font-size: large;
        width: 80%;
        border-radius: 5px;
    }

}

@media all and (max-width: 768px) {

    .backgroungImgMain{
        display: none;
    }

    .backgroungImg {
        display: block;
    }

    article{
        margin-top: -145%;
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }
    
    h1{
        font-size: 350%;
        
    }
    
    h2{
        margin-top: -6%;
        font-size: 150%;
        color: #000;
    }
    
    p{
        color: #000;
    }
    
    button{
        width: 80%;
        padding: 5px;
    }
}

@media all and (max-width: 576px) {

    .backgroungImg {
        margin-top: 5%;
    }

    article{
        margin-top: -158%;
    }
    

}
