.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

.logo {
  color: #1a535c;
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
}

.websiteIcon {
  margin-top: -20mm;
  margin-left: -5mm;
  max-width: 10mm;
}

.navbarList {
  list-style-type: none;
}

.navbarList .listItem {
  display: inline-block;
  padding: 20px 10px;
}

.navbarList .listItem a {
  text-decoration: none;
  color: #000;
}

.navbarList .listItem a:hover {
  color: #1a535c;
}

.phoneMenu {
  display: none;
}

.phoneMenu :hover {
  cursor: pointer;
}

.menuLine {
  width: 20px;
  height: 3px;
  background-color: #1a535c;
  margin-bottom: 4px;
}

@media all and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }

  .logoContainer {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .navbarList {
    width: 100%;
    text-align: center;
    padding-top: none;
    display: none;
  }

  .navbarList .listItem {
    display: block;
    padding: 10px;
    background-color: #fff;
    margin-left: -15%;
  }

  .phoneMenu {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
  }

  .active {
    display: block;
  }
}
