/* REMOVE:
I'm not sure whether the .dogImage css should be done here or in individualDog.css for the loadImage() func on indiv dog page */

/* .dogImage {
  width: 50%;
  height: 33%;
  margin-right: 30px;
} */
