main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  color: #056d68;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  font-size: 26px;
  margin-top: 0;
}

main img {
  width: 50%;
  height: 33%;
  margin-right: 30px;
}

.description {
  font-size: 18px;
  opacity: 69%;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 12px;
}

/* Characteristics section */

.characteristicsSection {
  padding-bottom: 16px;
  border-bottom: 1px solid #cccccc;
}

.characteristicsList {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
  margin: 0;
  opacity: 90%;
}

.characteristicsContent {
  opacity: 69%;
}

.hideShowDetailsButton {
  color: #056d68;
  background: none;
  font-size: 15px;
  margin-top: 8px;
  padding: 0;
  border: none;
}

.hideShowDetailsButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.extraDetail {
  display: none;
}

/* Adopt me and enquiries section */
.adoptAndEnquiries {
  display: flex;
  justify-content: space-between;
}

/* Adopt button */
.adoptButton {
  font-size: 20px;
  font-weight: bold;
  width: 40%;
  height: 100%;
  background-color: #ffe66d;
  border: none;
  border-radius: 7px;
  margin-top: 6px;
  padding: 5px 0 5px 0;
}

/* Enquiries List */
.enquiryDetailsList {
  margin: 0;
  text-align: right;
  padding-left: 10px;
}

.enquiryDetailsList header h2 {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.enquiryDetailsList li {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
  margin: 0;
}

.enquiryDetailsList li span {
  display: inline-block;
  font-weight: 300;
}

@media all and (max-width: 768px) {
  main {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }

  .adoptAndEnquiries {
    display: block;
  }

  .adoptButton {
    width: 100%;
  }

  .enquiryDetailsList {
    text-align: left;
    padding: 18px 0 18px 0;
  }
}
