.mainBody {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
}

.adoptionPage {
  width: 1000px;
}

.adoptionPage textarea {
  width: 99%;
  height: 100px;
  font-size: 15px;
  color: #5f5a5a;
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

.adoptionPage form {
  font-size: 20px;
  font-weight: bold;
  color: #5f5a5a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

.rowCategories{
	display: flex;
    flex-direction: row;
}

.columnCategories{
	width: 100%;
	height: 80px;
	text-align: left;
}

.adoptionPage label {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #5f5a5a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

.adoptionPage select {
  width: 90%;
  height: 30px;
  font-size: 15px;
  color: #5f5a5a;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

.adoptionPage option {
  width: 40%;
  height: 30px;
  font-size: 15px;
  color: #5f5a5a;
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

section.dogInfo {
  padding: 10px;
}

.adoptionPage h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #1A535C;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

section.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  margin-top: 30px;
}

.moreAboutDog {
  text-decoration: none;
  color: #056d68;
  font-size: 15px;
  background-color: #fff;
  border: none;
}

.moreAboutDog:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media all and (max-width: 750px) {
  .adoptionPage {
    width: 100%;
  }

  .mainBody {
    padding-bottom: 20px;
  }
}

.rowCards {
  display: flex;
  flex-wrap: wrap;
}

.columnCards {
  flex: 25%;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .columnCards {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .rowCards {
    flex-direction: column;
  }
}