Body{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

img{
    margin-top: 1%;
    width: 65%;
    flex: auto;
    margin-left: 15%;
    
}

article{
    margin-left: 19%;
    width: 40%;
    margin-top: -43%;
    color: white;
}

h1{
    color: #FFE66D;
    font-size: 450%;
    flex: auto;
}

h2{
    margin-top: -6%;
    font-size: 250%;
}

p{
    margin-top: -3%;
    font-size: x-large;
}

button{
    font-size: x-large;
    font-weight: bold;
    width: 55%;
    padding: 1%;
    background-color: #FFE66D;
    border: none;
    border-radius: 15px;
}

button:hover{
    background-color: #e4c00f;
}
/*AdoptPage*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 550px;
    margin-left: 200px;
    margin-top: 200px;
}

.dogImage{
    width: 100%;
    height: 400px;
    margin-left: 0px;
    margin-top: 0px;

}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}